<h1>Gestion des comptes</h1>

<table>
    {% for user in allUsers %}

    <?php
    $href = "/admin/modifierCompte/" . $user=>getID();
    echo $href;
    ?>
        {{ allUsers }}
    <tr>
        <td><a href=$href>$user=>getEmail()</a></td>
    </tr>
    {% endfor %}
</table>
