<h1>Gestion des comptes</h1>

<table>
    {% for user in allUsers %}
        <tr>
            <td><a href="/admin/modifierCompte/{{ user.id }}/" alt="" >{{ user.email }}</a></td>
        </tr>
    {% endfor %}
</table>


{{ error }}

<a href="/admin/" alt="" >Retour</a>