<body>

<h1>Section administration</h1>

    <table>
        <tr>
            <td><a href="/admin/gestionComptes/" title="Gerer les comptes">Gestion des comptes</a></td>
        </tr>

        <tr>
            <td><a href="/subscribe/admin" title="Creer un compte">Creer compte ADMIN</a></td>
        </tr>

    </table>

<a href="/admin/" alt="" >Retour</a>
</body>