{% extends 'loginBundle::layout.html.twig' %}

{% block title %}RentMyPet - Welcome{% endblock %}


{% block content %}
    {% block header %}

        <header>
            <div class="container_12" >
                <div class="grid_12" >
                    <h1><a href="/"><img src={{ asset('bundles/rentmypet/images/header.png') }}></a></h1>
                </div>
            </div>
            <nav>
                <div class="container_12">
                    <div class="grid_12">
                        <ul class="sf-menu">
                            <li><a href="/secured/index">Accueil</a></li>
                            <li><a href="/#">Location</a></li>
                            <li  class="current"><a href="">Mon Compte</a>
                                <ul>
                                    <li  class="current"><a href="/secured/ajouterPet">Ajouter animal</a></li>
                                    <li><a href="/secured/gestionPets">Mes animaux</a></li>
                                </ul>
                            </li>
                            <li><a href="/secured/disconnect">Se Déconnecter</a></li>
                        </ul>
                        <div class="clear"></div>
                    </div>
                </div>
            </nav>
        </header>
    {% endblock %}



        <div id="content" align="center">
            <div class="container_12">

                <div class="grid_12">
                    <h2 class="indent-2">Ajout d'un animal</h2>
                </div>


                <div class="grid_5">
                    <form id="form" action="/secured/ajouterPet" method="post">
                        <fieldset>
                            <label class="name">
                                <span class="title">Nom</span>
                                <input type="text"  name="_username" required=""/>
                                <br class="clear">
                            </label>
                            <label class="birthdate">
                                <span class="title">Date de naissance</span>
                                <input type="password" name="_birthDate" required=""/>
                                <br class="clear">
                            </label>
                            <label class="lastName">
                                <span class="title">Sex</span>
                                <input type="text"  name="_sex" required=""/>
                                <br class="clear">
                            </label>
                            <label class="firstName">
                                <span class="title">Description</span>
                                <input type="textbox"  name="_descritpion" required=""/>
                                <br class="clear">
                            </label>
                            <div class="clear"></div>
                            <br><br>
                            <button type="submit">Valider</button>


                            <br><br><br><br>
                        </fieldset>
                    </form>
                </div>





                <h1>{{ error }}</h1>

                </form>
            </div>
        </div>
{% endblock %}