{% extends 'loginBundle::layout.html.twig' %}

{% block title %}RentMyPet - Welcome{% endblock %}

{% block content %}

<h1 class="title">Hello !</h1>
<h1>{{ error }}</h1>
<a href="/login">Login</a>
<a href="/subscribe">Subscribe</a>
{% endblock %}