{% extends 'loginBundle::layout.html.twig' %}

{% block title %}RentMyPet - Welcome{% endblock %}

{% block content %}
    <h1 class="title">Login</h1>


    <form action="/login" method="post" id="login">
        <div>
            <label for="email">Adresse mail</label>
            <input type="text"  name="_username" required=""/>

            <label for="password">Password</label>
            <input type="password" name="_password" required=""/>

            <button type="submit" class="sf-button">
                <span class="btn-bg">Valider</span>
            </button>
        </div>

<h1>{{ error }}</h1>
        <a href="/">Retour à l'accueil</a>
    </form>
{% endblock %}